http:
  routers:
    # Placeholder for future dynamic configs
    pass:
      rule: "Host(`localhost`)"
      service: noop@internal
    
    # Manual service routes (workaround for Docker provider issues)
    grafana:
      rule: "Host(`grafana.lan`)"
      service: grafana
      entryPoints:
        - websecure
      tls: {}
    
    n8n:
      rule: "Host(`n8n.lan`)"
      service: n8n
      entryPoints:
        - websecure
      tls: {}
    
    sterling:
      rule: "Host(`sterling.lan`)"
      service: sterling
      entryPoints:
        - websecure
      tls: {}
    
    networking:
      rule: "Host(`networking.lan`)"
      service: networking
      entryPoints:
        - websecure
      tls: {}
    
    pihole:
      rule: "Host(`pihole.lan`)"
      service: pihole
      entryPoints:
        - websecure
      tls: {}
    
    keycloak:
      rule: "Host(`keycloak.lan`)"
      service: keycloak
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - keycloak-headers
        - keycloak-timeout
    
    jenkins:
      rule: "Host(`jenkins.lan`)"
      service: jenkins
      entryPoints:
        - websecure
      tls: {}
    
    portainer:
      rule: "Host(`portainer.lan`)"
      service: portainer
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - portainer-headers
  
  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://172.19.0.3:3000"
    
    n8n:
      loadBalancer:
        servers:
          - url: "http://172.19.0.6:5678"
    
    sterling:
      loadBalancer:
        servers:
          - url: "http://172.19.0.8:8080"
    
    networking:
      loadBalancer:
        servers:
          - url: "http://172.19.0.9:3000"
    
    pihole:
      loadBalancer:
        servers:
          - url: "http://172.19.0.5:80"
    
    keycloak:
      loadBalancer:
        servers:
          - url: "http://172.19.0.12:8080"
        healthCheck:
          path: "/realms/master"
          interval: "10s"
          timeout: "5s"
    
    jenkins:
      loadBalancer:
        servers:
          - url: "http://172.19.0.7:8080"
    
    portainer:
      loadBalancer:
        servers:
          - url: "http://172.19.0.10:9000"
  
  middlewares:
    keycloak-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "keycloak.lan"
    
    keycloak-timeout:
      buffering:
        maxRequestBodyBytes: 10485760
        maxResponseBodyBytes: 10485760
        memRequestBodyBytes: 2097152
        memResponseBodyBytes: 2097152
        retryExpression: "IsNetworkError() && Attempts() < 2"
    
    portainer-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem

