http:
  routers:
    # Placeholder for future dynamic configs
    pass:
      rule: "Host(`localhost`)"
      service: noop@internal
    
    # Manual service routes (workaround for Docker provider issues)
    grafana:
      rule: "Host(`grafana.lan`)"
      service: grafana
      entryPoints:
        - websecure
      tls: {}
    
    n8n:
      rule: "Host(`n8n.lan`)"
      service: n8n
      entryPoints:
        - websecure
      tls: {}
    
    sterling:
      rule: "Host(`sterling.lan`)"
      service: sterling
      entryPoints:
        - websecure
      tls: {}
    
    networking:
      rule: "Host(`networking.lan`)"
      service: networking
      entryPoints:
        - websecure
      tls: {}
    
    pihole:
      rule: "Host(`pihole.lan`)"
      service: pihole
      entryPoints:
        - websecure
      tls: {}
    
    keycloak:
      rule: "Host(`keycloak.lan`)"
      service: keycloak
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - keycloak-headers
        - keycloak-timeout
    
    jenkins:
      rule: "Host(`jenkins.lan`)"
      service: jenkins
      entryPoints:
        - websecure
      tls: {}
    
    portainer:
      rule: "Host(`portainer.lan`)"
      service: portainer
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - portainer-headers
    
    registry:
      rule: "Host(`registry.lan`)"
      service: registry
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - registry-headers
    
    registry-http:
      rule: "Host(`registry.lan`)"
      service: registry
      entryPoints:
        - web
      priority: 1
      middlewares:
        - registry-headers
  
  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
    
    n8n:
      loadBalancer:
        servers:
          - url: "http://n8n-n8n-1:5678"
    
    sterling:
      loadBalancer:
        servers:
          - url: "http://stirling-pdf:8080"
    
    networking:
      loadBalancer:
        servers:
          - url: "http://networking-tools:3000"
    
    pihole:
      loadBalancer:
        servers:
          - url: "http://pihole:80"
    
    keycloak:
      loadBalancer:
        servers:
          - url: "http://keycloak:8080"
        healthCheck:
          path: "/realms/master"
          interval: "10s"
          timeout: "5s"
    
    jenkins:
      loadBalancer:
        servers:
          - url: "http://jenkins:8080"
    
    portainer:
      loadBalancer:
        servers:
          - url: "http://portainer:9000"
    
    registry:
      loadBalancer:
        servers:
          - url: "http://zot-registry:5000"
  
  middlewares:
    keycloak-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "keycloak.lan"
    
    keycloak-timeout:
      buffering:
        maxRequestBodyBytes: 10485760
        maxResponseBodyBytes: 10485760
        memRequestBodyBytes: 2097152
        memResponseBodyBytes: 2097152
        retryExpression: "IsNetworkError() && Attempts() < 2"
    
    portainer-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
    
    registry-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "registry.lan"

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem

