services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    user: root
    volumes:
      - jenkins_data:/var/jenkins_home
    ports:
      - "50000:50000"  # Agent port
    environment:
      - JENKINS_OPTS=--httpPort=8080
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.entrypoints=websecure"
      - "traefik.http.routers.jenkins.rule=Host(`jenkins.lan`)"
      - "traefik.http.routers.jenkins.tls=true"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"

volumes:
  jenkins_data:

networks:
  proxy:
    external: true

