services:
  portainer_agent:
    image: portainer/agent:2.33.4
    container_name: portainer_agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host
    ports:
      - "9001:9001"
    networks:
      - proxy

networks:
  proxy:
    external: true

